:root {
    --dark-green: #099d8d;
    --aqua: #14d9c4;
    --white: #ffffff;
    --black: #000000;
    --dark-grey: #54585a;
    --light-grey: rgba(184, 184, 185, 0.3);
    --peach-bkg: #fee0d6;
    --twitter-color: #1da1f2;
    --linkedin-color: #0072b1;
    --envelop-color: #ea4335;
  }