.social-media {
  color: var(--dark-green);
}
.fa-twitter:hover {
  color: var(--twitter-color);
}
.fa-github-alt:hover {
  color: var(--black);
}
.fa-linkedin:hover {
  color: var(--linkedin-color);
}
.fa-envelope:hover {
  color: var(--envelop-color);
}
.social-media i {
  transform: scale(1.6);
  padding: 1rem 1rem;
}
.social-media-link {
  color: var(--dark-green);
}
.aboutus,
.container-cv,
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.aboutus {
  padding: 2rem;
}
.divh2about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.h2-about {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  color: var(--dark-green);
  display: inline-block;
  text-align: center;
  margin: 3rem 0 3rem 0;
  text-transform: uppercase;
}
.photocontainer {
  height: 18rem;
  width: 18rem;
  border: 0.3rem solid var(--light-grey);
  border-radius: 0.4rem;
}
.img {
  height: 100%;
  width: 100%;
}
.name {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--black);
}
.description {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: var(--dark-grey);
  padding-bottom: 1.5rem;
}
.p-left,
.p-right {
  text-align: center;
}

/* T A B L E T */

@media all and (min-width: 768px) {
  .container-cv {
    flex-direction: row;
    width: 100%;
    padding: 0 4.4rem 2rem 4.4rem;
    gap: 2.5rem;
  }
  .p-left,
  .p-right {
    width: 44.2rem;
  }
  .p-left,
  .left,
  .name {
    text-align: left;
  }
  .p-right {
    text-align: right;
  }
  .left,
  .right {
    align-items: flex-start;
  }
  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
  .img-right {
    order: 1;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .desc-left {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .desc-right {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .photocontainer {
    height: 20.6rem;
    width: 20.6rem;
    border: 0.5rem solid var(--light-grey);
  }
}

/* D E S K T O P */

@media all and (min-width: 1200px) {
  .h2-about {
    margin: 5rem 0 4rem 0;
  }
  .container-cv {
    flex-direction: row;
    width: 100%;
    padding: 0 13.8rem 2rem 13.8rem;
    gap: 3rem;
  }
  .photocontainer {
    height: 27.8rem;
    width: 27.8rem;
  }
}
