.footer {
  border-top: 0.05rem solid var(--dark-grey);
  margin-top: 2rem;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
}
.copyright,
.menu-list {
  display: flex;
  justify-content: center;
  color: var(--dark-grey);
  font-size: 1.4rem;
}
.copyright {
  font-weight: 300;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.menu-list {
  opacity: 0.75;
  text-decoration: none;
  text-transform: uppercase;
}
.menu2 {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 2.5rem;
}
.logo {
  width: 11.59rem;
  height: 4.5rem;
  display: flex;
  margin: auto;
}

.menu-list:hover {
  color: rgb(139, 215, 186);
}

/* T A B L E T */

@media all and (min-width: 768px) {
  .footer {
    padding: 2.4rem 0.6rem 0 0.6rem;
  }
  .nav-footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 13rem;
    margin-right: 4.5rem;
  }
  .copyright {
    justify-content: left;
    margin-left: 4.5rem;
  }
  .menu2 {
    font-weight: bold;
    position: relative;
    top: -4rem;
  }
  .menu-list {
    padding: 1rem 0 1rem 0;
    justify-content: right;
  }
  .logo-footer-container {
    display: flex;
    height: 0.5rem;
  }
  .logo-footer {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -12rem;
    margin-left: 4.5rem;
  }
}

/* D E S K T O P */

@media all and (min-width: 1200px) {
  .footer {
    padding-left: 9.5rem;
    padding-right: 9rem;
  }
}
