.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--dark-green);
}
.column {
  display: flex;
  flex-direction: column;
}
.title {
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  height: 6rem;
  padding: 2rem 8rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
a {
  position: relative;
}
.link:after {
  content: "";
  position: absolute;
  background-color: var(--dark-green);
  height: 0.2rem;
  bottom: -0.4rem;
  width: 0;
  left: 0;
  transition: 0.3s;
}
.link:hover:after {
  width: 100%;
}
.menu {
  background-color: var(--aqua);
  opacity: 0.9;
  display: flex;
  justify-content: space-evenly;
  height: 4.5rem;
  align-items: center;
}
.menu-item {
  list-style-type: none;
}
.link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
}
#team {
  scroll-margin-top: 10rem;
}
#aboutus {
  scroll-margin-top: 12rem;
}

/* T A B L E T */

@media all and (min-width: 768px) {
  .column {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-green);
  }
  .title {
    padding: 2rem 4.5rem;
  }
  .menu {
    background-color: var(--dark-green);
    width: 100%;
    margin-top: 0.6rem;
  }
  .menu-item {
    padding: 0 1rem;
  }
  .link:after {
    background-color: rgb(137, 215, 194);
  }
  .nav {
    margin-right: 4.5rem;
  }
}

/* D E S K T O P */

@media all and (min-width: 1200px) {
  .title {
    padding: 2rem 14.2rem;
  }
  .menu {
    padding: 0 8.1rem 0 13.8rem;
  }
  .link {
    padding: 0 1.8rem;
  }
}
