.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  background-color: #eec4b4;
  height: 37rem;
}
.hero-image {
  display: flex;
  justify-content: center;
}
.red-hair-girl {
  width: 32rem;
  height: 25rem;
}
.rectangle {
  width: 29rem;
  height: 8rem;
  background-color: var(--white);
  padding: 1.4rem 1.5rem 1.6rem;
}
.hero-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  width: 26rem;
  height: 5rem;
}

/* T A B L E T */

@media all and (min-width: 768px) {
  .container1 {
    height: 43rem;
  }
  .red-hair-girl {
    width: 48rem;
    height: 38rem;
    margin-top: -3rem;
  }

  #team {
    scroll-margin-top: 5rem;
  }
  #aboutus {
    scroll-margin-top: 8rem;
  }
  .rectangle {
    width: 42rem;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translate(-13rem, -6rem);
  }
  .hero-text {
    text-align: left;
    padding-top: 0.5rem;
    width: 100%;
  }
}

/* D E S K T O P */

@media all and (min-width: 1200px) {
  .rectangle {
    transform: translate(-28.5rem, -6rem);
  }
}
