.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.h2-team {
  color: var(--aqua);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
}

.text-tablet {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
}

/* T A B L E T */

@media all and (min-width: 768px) {
  .second-container {
    height: 30.3rem;
  }
  .h2-team {
    color: var(--dark-green);
  }
  .text-tablet {
    width: 67.8rem;
  }
}

/* D E S K T O P */

@media all and (min-width: 1200px) {
}
