.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 50px;
  }
  
  .h2-team {
    color: var(--aqua);
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
  }
  
  .p-text {
    font-size: 1.6rem;
    line-height: 1.5;
    width: 290px;
    height: 384;
    text-align: center;
  }
  
  /* T A B L E T */

  @media all and (min-width: 768px) {
    .second-container {
      height: 303px;
    }
    .h2-team {
      padding-top: 40px;
      color: var(--dark-green);
    }
    .text-tablet {
      width: 678px;
      height: 100px;
    }

  }

  /* D E S K T O P */

@media all and (min-width: 1200px) {

}