:root {
  --dark-green: #099d8d;
  --aqua: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.p-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

/* H E A D E R */
.header {
  position: sticky;
  z-index: 100;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: var(--dark-green);
  opacity: 0.95;
  color: var(--white);
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  height: 60px;
  padding: 15px 80px;
}
.menu {
  background-color: var(--aqua);
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  height: 45px;
}

.menu-item {
  text-decoration: none;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
}
.link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
}

/* H E R O */

/* .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */

.cat {
  width: 100%;
}

.hero-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif; */

/* SECTION TEAM */
.h2-team {
  color: var(--aqua);
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
}

.h3 {
  font-family: "Rubik", sans-serif;
  color: var(--dark-green);
  font-size: 2.2rem;
}
.h2-about {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  color: var(--dark-green);
}
